### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride
app/.DS_Store

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# Node modules
node_modules

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env

# Phpstorm
.idea/*
.idea/*.*
.idea/workspace.xml

## Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
.idea/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
package-lock.json